<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Company Email</th>
                    <th scope="col">Year of Experience</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Software Engineer</td>
                    <td>25000</td>
                    <td>95846211475</td>
                    <td>mark@gmail.com</td>
                    <td>mark@nest.com</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Smith</td>
                    <td>Software Engineer</td>
                    <td>25000</td>
                    <td>95846211475</td>
                    <td>Smith@gmail.com</td>
                    <td>Smith@nest.com</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Alex</td>
                    <td>Software Engineer</td>
                    <td>25000</td>
                    <td>95846211475</td>
                    <td>Alex@gmail.com</td>
                    <td>Alex@nest.com</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
